<%= turbo_frame_tag :"message_#{ message.id }" do %>
  <div class="d-flex flex-row<%= '-reverse' if current_user.author_of?(message) %> mb-1">
    <div class="col-9 mx-2 px-2 bg-light rounded">
      <% unless current_user.author_of?(message) %>
        <div class="fw-bolder"><%= message.user.nickname %></div>
      <% end %>
      <div><%= message.body %></div>
      <div class="fw-light d-flex flex-row-reverse"><%= l(message.created_at, format: :short) %></div>
    </div>
  </div>
<% end %>
