<%= turbo_frame_tag :new_room_errors %>
<%= render 'shared/errors', resource: @new_room %>

<%= form_with model: @new_room do |f| %>
  <div class="input-group p-2 py-3 bg-light">
    <%= f.text_field :title, class: 'form-control me-1',
      placeholder: t('activerecord.attributes.room.title'), required: true %>

    <div class="input-group-append">
      <%= f.submit t('actions.create_room'), class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
